<div class="row p-5">
  <div class="col mat-typography">
    <h2>{{ data ? 'Edit' : 'Add'}} Student</h2>
    <form (ngSubmit)="submit(form)" [formGroup]="form" >
      <mat-form-field appearance="outline">
        <mat-label>Firstname</mat-label>
        <input formControlName="firstName" matInput placeholder="First name">
        <mat-error *ngIf="form.controls['firstName'].errors?.['required']">First name is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Lastname</mat-label>
        <input formControlName="lastName" matInput placeholder="Last name">
        <mat-error *ngIf="form.controls['lastName'].errors?.['required']">Last name is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput placeholder="Title">
        <mat-error *ngIf="form.controls['title'].errors?.['required']">Title is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input formControlName="dateOfBirth" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>School</mat-label>
        <mat-select formControlName="schoolId">
          <mat-option [value]="school.id" *ngFor="let school of schools">{{school.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Department</mat-label>
        <mat-select formControlName="departmentId">
          <mat-option [value]="department.id" *ngFor="let department of departments">{{department.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input formControlName="phoneNumber" matInput placeholder="Phone number">
        <mat-error *ngIf="form.controls['phoneNumber'].errors?.['required']">Phone number is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Email">
        <mat-error *ngIf="form.controls['email'].errors?.['required']">Email is required</mat-error>
        <mat-error *ngIf="form.controls['email'].errors?.['email']">Email is invalid</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input formControlName="address" matInput placeholder="Address">
        <mat-error *ngIf="form.controls['address'].errors?.['required']">Address is required</mat-error>
      </mat-form-field>
      <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary" class="d-block ms-auto">{{data ? 'Update' : 'Submit'}}</button>
    </form>
  </div>
</div>

